<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre Cliente</ion-label>
    <ion-input type="text" [(ngModel)]="model.NOMBRE_CLIENTE"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">EMAIL</ion-label>
    <ion-input type="text" [(ngModel)]="model.EMAIL"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="agregarCliente()" >Ingresar</ion-button>

  
</ion-content>